.navbar-default {
    background: white !important;

}
.navbar-default .navbar-nav > li > a {
    color: black !important;
}

#image-header.bar {
    background: url("../images/custom/main.png") no-repeat center;
}
.header-content h2 {
    color: #4b2b1b !important;
}
.second {
    font-family: 'Open Sans', sans-serif !important;
}

.text-primary {
    font-family: 'Open Sans', sans-serif !important;
}
.dark h2 {
     font-family: 'Open Sans', sans-serif !important;
}
    .header-content h2 {
        color: white !important;
    }
    .logo {
        width: 100%;
    }
    #image-header img {
        max-width: 500px;
    
        padding-top: 233px;
        
    }

    #image-header {
        height: 80vh;
        margin: auto;
    }
.menu-header{
        background: url("../images/custom/menus.png") no-repeat center !important;
        height: 40vh !important;
        margin: auto;
    }

    .sub-menu-title {
        color: white;  
        font-family: 'Open Sans', sans-serif !important;
        font-size: 60px;
        margin-top: 7%
    }
    .vendor-header{
        background: url("../images/custom/vendors.png") no-repeat center !important;
        height: 40vh !important;
        margin: auto;
    }
    .wedding-header{
        background: url("../images/custom/wedding_promo.png") no-repeat center !important;
        height: 40vh !important;
        margin: auto;
    }

    .panel-title {
        font-family: 'Open Sans', sans-serif !important;
    }
    .navbar-default.dark-bg .navbar-toggle .icon-bar {
        background-color: #222 !important;
    }
    @media only screen and (max-width: 767px) {
        .navbar-default .navbar-collapse, .navbar-default .navbar-form {
            background: white !important;
            color: black !important;
            -webkit-box-shadow: 1px 3px 17px -5px rgba(0,0,0,0.75);
            -moz-box-shadow: 1px 3px 17px -5px rgba(0,0,0,0.75);
            box-shadow: 1px 3px 17px -5px rgba(0,0,0,0.75);
        }
    }
    .contact-header{
        background: url("../images/custom/contact.png") no-repeat center !important;
        height: 40vh !important;
        margin: auto;
    }
    #gallery {
        background: white !important;
    }