.navbar-default {
    background: white !important;

}
.navbar-default .navbar-nav > li > a {
    color: black !important;
}

#image-header.bar {
    background: url("../images/custom/main.png") no-repeat center;
}
.header-content h2 {
    color: #4b2b1b !important;
}
.second {
    font-family: 'Open Sans', sans-serif !important;
}

.text-primary {
    font-family: 'Open Sans', sans-serif !important;
}
.dark h2 {
     font-family: 'Open Sans', sans-serif !important;
}
    .header-content h2 {
        color: white !important;
    }
    .logo {
        width: 100%;
    }
    #image-header img {
        max-width: 500px;
    }

    #image-header {
        padding-bottom: 200px;
        padding-top: 300px;
    }